<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SEARCH_CART_URL</key>
	<string>$(SEARCH_CART_URL)</string>
	<key>SEARCH_DETAILS_URL</key>
	<string>$(SEARCH_DETAILS_URL)</string>
	<key>SEARCH_PHONES_URL</key>
	<string>$(SEARCH_PHONES_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>MarkPro-Bold.ttf</string>
		<string>MarkPro-Heavy.ttf</string>
		<string>MarkPro-Medium.ttf</string>
		<string>MarkPro-Regular.ttf</string>
	</array>
</dict>
</plist>
